/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}
/* 

App CSS

*/
.App {
  height: 100vh;
  width: 100vw;
  background-color: #fc8c9f;
}

h1 {
  text-align: center;
  padding: 2rem;
  color: #340eb0;
}

.cake-list {
  display: grid;
  justify-content: space-around;
  grid-template-columns: auto auto auto;

  padding: 20px;
  font-size: 20px;
  text-align: start;
}

.cake-name {
  color: #340eb0;
  padding-bottom: 1.5rem;
}

.cake-price {
  padding: 0.5rem;
  color: #1e1e2c;
}

.cake-rating {
  padding: 0.5rem;
  color: #1e1e2c;
}

.cake-ingredients {
  padding: 0.5rem;
  font-weight: bold;
  color: #1e1e2c;
}

.ingredient-list {
  display: flex;
  flex-direction: column;

  list-style: none;
  text-transform: capitalize;
  color: #1e1e2c;
}

.ingredients-item {
  padding: 10px;
}

span {
  font-weight: bold;
}
